<link rel="stylesheet" href="/css/footer.css">
<!-- <footer class="custom-footer text-center">
    <div class="container">
        <p>&copy; 2023 Your Website</p>
        <p>
            <a href="#">Home</a> |
            <a href="#">About</a> |
            <a href="#">Services</a> |
            <a href="#">Contact</a>
        </p>
    </div>
</footer> -->


<div class="facebook-footer">
    <p>
        <a href="#"><i class="fab fa-facebook facebook-icons"></i>Facebook</a>
        <span class="facebook-icons">&middot;</span>
        <a href="#">Privacy</a>
        <span class="facebook-icons">&middot;</span>
        <a href="#">Terms</a>
        <span class="facebook-icons">&middot;</span>
        <a href="#">Advertising</a>
        <span class="facebook-icons">&middot;</span>
        <a href="#">Ad Choices</a>
        <br>
        <a href="#">Cookies</a>
        <span class="facebook-icons">&middot;</span>
        <a href="#">More</a>
        <br>
        &copy; 2023 Facebook, Inc.
    </p>
</div>