.sign-up-facebook-logo{
    height:150px;
    /* border: 1px solid black; */
    
}

.sign-up-facebook-logo img{
    height: 100%;
    width: 100%;
}


.login-button-facebook {
    background-color: #1877f2;
    color: #ffffff;
}

.login-button-google {
    background-color: #dd4b39;
    color: #ffffff;
}

.login-button-github {
    background-color: #333333;
    color: #ffffff;
}

.login-buttons {
    text-align: center;
    margin-top: 20px;
}

.login-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

#sign-up-footer{
    text-align: center;
}